<%- include('../includes/head.ejs') %>

  </head>
  <body>
      <%- include('../includes/navigation.ejs') %>

    <main>
      <div class="container">
        <form action="/" method="POST">
          <div class="form-control">
            <label for="email">Email</label>
            <input type="email" name="email" />
           
          </div>
          <div class="form-control">
          <label for="password">Password</label>
          <input type="password" name="password" id="password" />
        </div>
        <button class="btn" type="submit">Login</button>
        </form>
      </div>
    </main>
    <%- include('../includes/end.ejs') %>
