<%- include('../includes/head.ejs') %>

  </head>
  <body>
      <%- include('../includes/navigation.ejs') %>

    <main>
      <div class="container">
          <% if (errorMessage) { %>
            <div class="error-message"> <%= errorMessage %> </div>
          <% } %>
        <form action="/reset" method="POST">
          <div class="form-control">
            <label for="email">Email</label>
            <input type="email" name="email" />
           
          </div>
        <button class="btn" type="submit">Reset Password</button>
        </form>
      </div>
    </main>
    <%- include('../includes/end.ejs') %>
