<%- include('../includes/head.ejs') %>

  </head>
  <body>
      <%- include('../includes/navigation.ejs') %>

    <main>
      <div class="container">
        <form action="/add-product" method="POST">
          <div class="form-control">
            <label for="title">Title</label>
            <input type="text" name="title" />
           
          </div>
          <div class="form-control">
          <label for="imageUrl">Price</label>
          <input type="number" name="price" id="price" step="0.01" />
        </div>
        <div class="form-control">
          <label for="price">Image</label>
          <input type="text" name="imageUrl" id="imageUrl" />
        </div>
        <div class="form-control">
          <label for="description">Description</label>
          <textarea name="description" id="description" cols="40" rows="10"></textarea>
        </div>
        <button class="btn" type="submit">ADD PRODUCT</button>
        </form>
      </div>
    </main>
    <%- include('../includes/end.ejs') %>
